/*
You should also utilize the following CSS Properties:

display
padding
margin
width
height
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    background-color: #2b4141;
    color: #f7f9f7;
    text-align: center;
    font-family: 'Montserrat', serif;

    /*centers the page */
    max-width: 960px;
    margin: auto;
    padding-top: 50px;
}

h1 {
    font-size: 4em;
    margin-top: 1%;
    margin-bottom: 0%;
}

a:link {
    color: #f7f9f7;
}

a:visited {
    color: #f7f9f7;
}

ul {
    text-align: center;
    list-style-position: inside;
}
  
/*classes*/


.circle-image {
    border-radius: 50%;
    max-width:100%;
    max-height:100%;
}

.flag {
    display:inline-block;
    height:1em;
    /*width:auto;*/
}

/*ID*/
#profile-photo {
    height: 300px;
    /*width: 300px;*/
}

#footer {
    font-size: 0.5em;
    padding-top: 5%;
    padding-bottom: 5%;
}