/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 800px;
  border: 2px solid black;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 15px;
} */

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-bottom: 20px;
}

.Name,
.URL,
.hobbies,
.Location,
.Intro {
  width: 800px;
  border: 2px solid black;
  padding: 10px;
  border-radius: 15px;
  text-align: center;
}

div .Name {
  background-color: rgb(170, 151, 247);
}

div .URL {
  background-color: rgb(250, 162, 138);
}

div .hobbies {
  background-color: rgb(116, 248, 136);
}

div .Location {
  background-color: rgb(8, 247, 223);
}

div .Intro {
  background-color: rgb(238, 249, 163);
}

h1 {
  margin-bottom: 0px;
}

h2 {
  margin: 0px;
  margin-bottom: 5px;
}

ul {
  margin: 0px;
}

p {
  margin: 0px;
  font-size: 20px;
}

img {
  width: 200px;
}
