p{
    background-color: lightblue;
}
li {
    color: darkblue;
}
h1{
    font-style: oblique;
}
h3{
    font-style: italic;
}
img{
    opacity:0.8;
    border-radius: 50%;
}
.avatar{
    width: 300px;
    height: 300px;
}