* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p {
    background-color: lightblue;
}

li {
    color: darkblue;
}

h3 {
    font-style: italic;
}

img {
    opacity: 0.8;
    border-radius: 50%;
}

.avatar {
    width: 500px;
}

#react {
    color: green;
}

/* 
to target ids: use #
to target classes: use .
to target every element: use * (universal selector)
*/
