/*
selector {
    property: value;
}

id selector -> #
class seclector -> .
universal selector: targets all elements -> *
element selector -> p

*/

p {
  background-color: lightblue;
  color: #2e17d7;
}

li {
  color: rgb(216, 109, 32);
}

h3 {
  font-style: italic;
}

img {
  opacity: 0.8;
  border-radius: 50%;
}

.avatar {
  width: 200px;
}

/*
measurements in css： px, em, %
*/
